RewriteEngine On

# Skip kalau file/direktori beneran ada

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Jangan rewrite untuk assets/resources

RewriteCond %{REQUEST_URI} !^/resources/

RewriteRule ^ index.php [L]
